---
http_interactions:
- request:
    method: post
    uri: https://incandescent.xyz/api/add/
    body:
      encoding: UTF-8
      string: '{"uid":"7328","auth":"9c3a3f5ff08c76716930de48231ecfcb","expires":1513544470,"images":["https://c2.staticflickr.com/2/1164/1001998842_cdfc7708da_z.jpg?zz=1"],"multiple":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":201,"p":"8b8677960f875cc3928a8130357ab076","project_id":"8b8677960f875cc3928a8130357ab076","other":null}'
  recorded_at: Sun, 17 Dec 2017 20:46:11 GMT
recorded_with: VCR 4.0.0
