---
http_interactions:
- request:
    method: post
    uri: https://incandescent.xyz/api/add/
    body:
      encoding: UTF-8
      string: '{"uid":"7328","auth":"5682d8c8f0ca76790c147b07b9bdfa8a","expires":1513804301,"images":["https://c2.staticflickr.com/2/1164/1001998842_cdfc7708da_z.jpg?zz=1"],"multiple":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":201,"p":"f14b587ed505f772404dfca6282488d7","project_id":"f14b587ed505f772404dfca6282488d7","other":null}'
  recorded_at: Wed, 20 Dec 2017 20:56:42 GMT
recorded_with: VCR 4.0.0
